:root {
    --light-blue-100: #F3F5FC;
    --dark-blue-300: #0A3871;
    --gray-500: #343A40;
    --gray-400: #495057;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: var(--light-blue-100);
    margin: 0 20px;
    font-family: 'Inter', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
}
.contenedorPri {
    display: flex;
    flex-direction: column;
}
.logo {
    width: 100%;
    padding: 25px 0 45px;
}
#textoEntrada {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    width: 100%;
    height: 250px;
    border: none;
    background-color: var(--light-blue-100);
    color: var(--dark-blue-300);
    resize: none;
}
.requisito {
    display: flex;
    gap: 8px;
    justify-content: normal;
    width: 100%;
    text-align: left;
}
.icono {
    width: 16px;
    height: 16px;
}
p {
    font-size: 12px;
    color: var(--gray-400);
}
.btnContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    width: 332px;
    font-size: 16px;
    /* font-weight: bold; */
    padding: 25px 0;
    margin: 10px 0;
    background-color: transparent;
    color: var(--dark-blue-300);
    border: solid 1px var(--dark-blue-300);
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover {
    font-weight: bold;
    transition: all 0.5s linear;
}
.encriptar {
    color: white;
    background-color: var(--dark-blue-300);
}
.inactive {
    display: none;
}
.contenedorSec {
    padding: 32px;
    width: 100%;
    background-color: white;
    border-radius: 32px;
    text-align: center;
}
.respuestaBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.imagen {
    display: none;
}
.respuestaBox h4 {
    font-size: 24px;
    color: var(--gray-500);
}
.respuestaBox p {
    font-size: 16px;
}
#finalCard {
    justify-content: space-between;
}
#resultado {
    font-size: 24px;
}
footer {
    width: 100%;
    padding: 15px;
    color: var(--dark-blue-300);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--dark-blue-300);
}
footer>div {
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.icon {
    height: 32px;
    color: var(--dark-blue-300);
}
.iconGh:hover {
    transition: all 0.7s linear;
    color: #171515;
}
.iconLd:hover {
    transition: all 0.7s linear;
    color: #0A66C2;
}

@media screen and (min-width: 765px) {
    body {
        margin: 0 40px;
    }
    .logo {
        padding: 40px 0;
    }
    #textoEntrada {
        height: 500px;
    }
    .btnContenedor {
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    
    main{
        flex-direction: row;
    }
    .contenedorPri {
        width: 65%;
        align-items: flex-end;
        height: 93vh;
    }
    .contenedor{
        width: 100%;
    }
    .btn {
        width: 265px;
    }
    .contenedorSec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 40px 0;
        width: 35%;
    }
    .imagen {
        display: block;
        width: 275px;
    }
}
@media screen and (min-width: 1440px) {
    main{
        flex-direction: row;
    }
    .contenedorPri {
        width: 65%;
        align-items: flex-end;
        height: 93vh;
    }
    .imagen {
        width: 100%;
    }
    .contenedor{
        width: 80%;
    }
    
    .contenedorSec {
        margin: 40px 0;
        width: 35%;
    }
}

@media screen and (min-width: 1800px) {
    .contenedorPri {
        height: 93vh;
    }
    #textoEntrada {
        height: 650px;
    }
    .btnContenedor {
        justify-content: flex-start;
        gap: 20px;
    }
    .contenedorSec {
        align-items: center;
    }
    .imagen {
        width: 100%;
    }
}